body.dark-theme {
    background-color: #333;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
}

.tab-container {
    display: flex;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #ddd;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#character, #stats {
    margin-bottom: 20px;
}

.progress-bar {
    position: relative;
    margin-bottom: 0px;
}

.progress {
    height: 30px;
    background-color: #e0e0e0;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 30px;
    color: white;
    border: 1px solid #f00; /* Add border to progress bar */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    transition: width 0.3s ease; /* Adds a smooth transition effect to the progress bar's width changes. */
}

button {
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
}

    /* Add this new rule to position buttons below the progress bar */
    button[id^="work-button"], button[id^="study-button"] {
        margin-top: 35px; /* Adjust this value to control the spacing */
    }

#dark-mode-toggle {
    margin-top: 20px;
}

label {
    margin-right: 10px;
}
