body {
    background-color: #fff;    /* White color */
    font-family: Arial, sans-serif;
}

.panel {
    background-color: #e0e0e0;
}

.container {
    margin: 10px;
}

.tab-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.button {
    background-color: #e0e0e0;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#character, #stats {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.progress-bar {
    position: relative;
    background-color: #ff0000;
    height: 30px;
    width: auto;
    margin-bottom: 0px;
    cursor: pointer;
}

.progress {
    height: 30px;
    background-color: #e0e0e0;
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.15s ease;
}

/*.progress.active {
    height: 30px;
    background-color: #e0e0e0;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 30px;
    color: white;*/
    /*border: 1px solid #000000;*/ /* Add border to progress bar */
    /*border-radius: 5px;*/ /* Optional: Add border radius for rounded corners */
    /*transition: width 0.15s ease;*/ /* Adds a smooth transition effect to the progress bar's width changes. */
/*}*/

#progress-text {
    position: relative;
    top: 6px;
    left: 5px;
    /*transform: translate(-50%, -50%);*/
    font-size: 16px;
    color: white;
}

label {
    margin-right: 10px;
}
