.dark {
    background-color: #333; /* Dark gray color */
    color: white; /* White color */
}

.dark .panel {
    background-color: #444444;
}

.dark .button {
    background-color: #444444;
    color: white !important
}

/*.dark .w3-bordered tr, .w3-table-all tr {
    border-bottom: 1px solid rgb(73, 73, 73);
}

.dark .w3-button:hover {
    background-color: rgb(82, 82, 82) !important;
    color: white !important
}
*/